
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #333;
  background-color: #f4f4f4; 
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(16, 63, 36, 0.7);
  color: #fff;
  z-index: 100;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}

.brand {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 16px;
  transition: background 0.3s;
}

.nav-links li a:hover,
.nav-links li a.active {
  background: #f4f4f4;
  color: #000;
  border-radius: 4px;
}


.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}


main {
  padding: 30px 10px;
  max-width: 1000px;
  margin: auto;
}


.profile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 60px; 
}


.profile-card {
  background: #fff;
  padding: 30px;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
  flex-grow: 1;
  flex-basis:450px; 
}

.profile-card h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 25px;
  color: #000000;
}


.about-me {
  text-align: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #000000;
}

.about-me p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  color: #000000;
  text-align: center
}


.skills-table {
  width: 100%;
  border-collapse: collapse;
}

.skills-table th,
.skills-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.skills-table th {
  background-color: #e7e7e7;
  font-weight: bold;
  text-align: center;
}

.skills-table td:last-child {
  width: 50%;
  text-align: left;
}

.skills-table .fa-star {
  color: #000000; 
}

.skills-table .far.fa-star {
  color: #ccc; 
}



@media (max-width: 768px) {
  
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px; 
    left: 0;
    background: #103f24; 
    width: 100%;
    flex-direction: column; 
    padding: 0; 
    display: none; 
    transition: all 0.3s ease;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    width: 100%; 
    margin: 0; 
    border: none; 
    
    text-align: center;
  }
  
  .nav-links li a {
    display: block; 
    padding: 20px 0; 
    font-size: 1.1rem;
    width: 100%;
    color: white;
  }
  .nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  }

  
  .profile-container {
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }

  .profile-card {
    width: 95%;
    margin-bottom: 20px;
  }

  .profile-pic {
    width: 160px;
    height: 160px;
  }
}


footer {
  background: rgba(16, 63, 36, 0.7); /* Footer Colour */
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}

footer p {
  margin: 0;
}